backup/ADMaker1.json
{
  "name": "ADMaker1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-campaing",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "65912173-9d1f-466f-ba73-7b2704bc391c",
      "name": "Webhook",
      "webhookId": "602dca69-5e62-4233-ab8d-5124efcc36f6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.PromptInicial }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        288,
        240
      ],
      "id": "76e9deca-d199-4e45-a953-315f6b8e86a9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        288,
        528
      ],
      "id": "a3eff6d2-e842-42aa-8a1e-0080b1cc03c3",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "wX8448No1rghRifT",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2673504-99cd-4f2f-83a1-f33f989ea4bd",
              "name": "body.brand",
              "value": "={{ $json.body.brand }}",
              "type": "string"
            },
            {
              "id": "c1997052-11fc-4a06-91fa-df9b498f68b0",
              "name": "body.product",
              "value": "={{ $json.body.product }}",
              "type": "string"
            },
            {
              "id": "678d4b29-98b4-442f-986b-7b7d7d7d993c",
              "name": "body.platforms",
              "value": "={{ $json.body.platforms }}",
              "type": "array"
            },
            {
              "id": "26c3b1af-a069-43b6-9c55-cb992dc6c06c",
              "name": "body.tone",
              "value": "={{ $json.body.tone }}",
              "type": "string"
            },
            {
              "id": "db40d0f1-2960-4043-8a13-51ac2d43338f",
              "name": "body.goal",
              "value": "={{ $json.body.goal }}",
              "type": "string"
            },
            {
              "id": "4ed4ffc6-687c-48d9-8589-f04630b2d710",
              "name": "body.visual_style",
              "value": "={{ $json.body.visual_style }}",
              "type": "string"
            },
            {
              "id": "7e284b76-fe6e-43f6-98ed-f78f233703ee",
              "name": "body.cta",
              "value": "={{ $json.body.cta }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "35f72896-69d3-41dd-bc0c-b44f4071d1bc",
      "name": "Datos de Entrada"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1099303d-495c-4c68-9fc3-1384454f4073",
              "name": "PromptInicial",
              "value": "=Eres un dise単ador profesional creando una publicidad para la marca : \"{{ $json.body.brand }}\".\nActualmente la publicidad es para el siguiente producto : \"{{ $json.body.product }}\".\nNecesito que crees un texto breve para un Hero con el siguiente tono : \"{{ $json.body.tone }}\".\ny con el siguiente objetivo : \"{{ $json.body.goal }}\".\ncon un call to action a : \"{{ $json.body.cta }}\".\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        288
      ],
      "id": "be72b095-4386-43ba-89a7-62b565ae9806",
      "name": "Prompt Inicial"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"post\": \"Contenido del post.\"    \n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        432,
        528
      ],
      "id": "a9119e15-3cf6-48ba-b80d-8b3a056c2079",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "19d5329e-487a-4d9b-9fe9-21552a4bdaae",
              "name": "output.post",
              "value": "={{ $json.output.post }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        544
      ],
      "id": "375ee493-99a6-4b1f-9d0b-03357068bf6f",
      "name": "Post"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28d0911d-4193-42f7-8678-9f2939e61e00",
              "name": "AI_Prompt",
              "value": "=Eres un dise単ador grafico experto en crear anuncios de alto impacto, tus ultimos 5 a単os como prompt engineer y dise単ador multimedial te han convertido en un excelente generador de imagenes con IA.\nTu mision es crear un prompt en ingles capaz de generar una imagen impactante en formato intagram que usaremos para captar la atencion del publico. La imagen debe basarse en este anuncio :\n\"{{ $json.output.post }}\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        672
      ],
      "id": "3ddde3f8-2698-4247-b4b0-8701d137ed27",
      "name": "TextoImage"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.AI_Prompt }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        352,
        688
      ],
      "id": "30ca69a3-0a92-435f-82a9-81f12bde8c5f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"prompt\": \"Prompt para midjourney\"\n\t\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        496,
        992
      ],
      "id": "a440a873-8777-476e-b73e-f3e68aa40309",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        352,
        976
      ],
      "id": "2f7c98d1-4b75-4ac8-8447-a4c0af4545fe",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "wX8448No1rghRifT",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        144,
        688
      ],
      "id": "641077ab-f4bf-46a6-8fc7-f72becdfce2f",
      "name": "Wait",
      "webhookId": "3ab0d9c2-36e4-4bb5-aea3-f45bff1e24dd"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59570621-5ac3-4c1d-ba5b-1fc5d313fdee",
              "name": "output.prompt",
              "value": "={{ $json.output.prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        960
      ],
      "id": "0bb022f5-1dcd-4394-a5c9-293f26af91bb",
      "name": "Prompt para Imagen Generado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3d7c3b4-d32b-4ae8-a118-6d182a554770",
              "name": "post",
              "value": "={{ $('Post').item.json.output.post }}",
              "type": "string"
            },
            {
              "id": "30d59414-36fc-4961-8356-bcfdd30864be",
              "name": "imgprompt",
              "value": "={{ $json.output.prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        16
      ],
      "id": "541e716f-747b-4c12-b578-d345c6b67752",
      "name": "Output"
    },
    {
      "parameters": {
        "content": "## Prompts",
        "height": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        224
      ],
      "id": "ab71c3e2-6b27-4675-832d-6a89699a2419",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Datos de Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Datos de Entrada": {
      "main": [
        [
          {
            "node": "Prompt Inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Inicial": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post": {
      "main": [
        [
          {
            "node": "TextoImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TextoImage": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Prompt para Imagen Generado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt para Imagen Generado": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "2a28143d-7fdf-41e5-8a9d-49cb4f8e5f29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fea95b1e7fe66bc6246177426f3818db9165eb32c91897c9a950fa92951f6f99"
  },
  "id": "FAgXzZ0JBod7MvK2",
  "tags": []
}